%section
  = title "Pogoji uporabe"

  - if can? :create, About
    %nav#editors-resource-menu
      %ul
        = render "common/new_edit_nav", :collection => collection

  - if collection.present?
    = render "common/redcloth_it", :content => collection.last.content
%aside