%section
  = title "Skupine sestavin"

  = helpster("ingredient_groups")
  - if can? :create, IngredientGroup
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj skupino sestavin", new_resource_path
  
  = collection_list_renderer(collection)
%aside