= title "Pregled vrst uporabnikov"

- if can? :manage, UserKind
  %nav#editors-resource-menu
    %ul
      %li= link_to "Dodaj vrsto uporabnika", new_resource_path

= collection_list_renderer(collection)