%section
  = title "Proizvajalci"

  - if can? :create, ProductFirm
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj proizvajalca", new_resource_path

  = collection_list_renderer(collection)

%aside