%section
  = title "Nostalgija"
  
  %h2 Tu se lahko uÄite kako so kuhali vÄasih
  
  - if can? :create, Nostalgic
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj zapis", new_resource_path

  - for post in collection
    %article
      %h3.title= link_to post.title, post
      = render "common/trunc_redcloth_it", :content => post.content, :length => 120
%aside