%section
  = title "Kuharji"

  - if can? :create, Cook
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj kuharja", new_resource_path

  = collection_list_renderer(collection)
%aside