= title "Recepti"

#resource-menu
  - if can? :create, Recipe
    = link_to "Dodaj recept", new_resource_path
    
  = link_to "Prenesi pdf", recipes_path("pdf")  
  
= collection_list_renderer(collection)