%section
  = title "Vrste virov receptov"
  = helpster("recipe_source_kinds")
  
  - if can? :create, RecipeSourceKind
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj vrsto vira", new_resource_path
  
  = collection_list_renderer(collection)
%aside