
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 â° Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #da532f; color:#fff; text-shadow: none; }
::selection { background:#da532f; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #da532f; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
/*a, a:active, a:visited { color: #222; }*/
a:hover { color: #222; }

/*
    // ========================================== \\
   ||                                              ||
   ||               Your styles !                  ||
   ||                                              ||
    \\ ========================================== //
*/

body{
	font-family: "Gill Sans MT", sans-serif;
	font-size:100%;
	background:#f3f3f3;
}

#header-container{
	background:url(/images/footer.jpg) repeat-x top center;
	
	height:160px;
}

#header-container header{
	margin:0 auto;
	width:980px;
	height:110px;

}

h2, h3{
	margin:20px 0;
}

#title, h2, h3{
	font-weight:normal;	
}

.home_link{
		float:left;
	display: block;
  position: relative;
	}
	
.home_link p{

  color: white;



  position: absolute;
  opacity: 0;
  filter: alpha(opacity = 0);
  top:-50%;
  left: 270px;
  -webkit-transition: all 0.4s ease;
  -moz-transition:    all 0.4s ease;
  -o-transition:      all 0.4s ease;
	}
.home_link:hover p{
		  opacity: 1;
  filter: alpha(opacity = 100);
  top:0%;
	left:270px;

	}
.bubble{
		position:absolute;
		display:block;
		padding:5px;
		margin:8px 0 3em;
		color:#fff;
		font-size:0.8em;
		background:#c2d200;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
		border-radius:10px;
	}	
.bubble:after {
	content:"";
	position:absolute;
	bottom:-10px; /* value = - border-top-width - border-bottom-width */
	left:20px; /* controls horizontal position */
	border-width:10px 10px 0; /* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:#c2d200 transparent;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
}
#title{
	background:url(/images/logo.png) no-repeat;
	width:384px;
	height:96px;
	font-size:3.4375em;
	color:white;

	margin-top:15px;
	float:left;
}

h2{
	font-size: 1.75em;
}

h3{
	font-size: 2.0em;
	padding: 0 0 0 0;
}

#login{
		position:absolute;
		top:0;
		right:0;
		display:block;
		width:30px;
		height:30px;
		background:none;
	}
#login:hover{
		background:#600;
	}


#main{
		width:980px;
		margin:25px auto;
	}
/*------------------------------
=ADMIN AND FLASH
------------------------------*/
	.admin{
			float:right;
			width:256px;
			margin-top:5px;
			background: #614032; /* Old browsers */
background: -moz-linear-gradient(top, #614032 0%, #26110a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#614032), color-stop(100%,#26110a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #614032 0%,#26110a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #614032 0%,#26110a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #614032 0%,#26110a 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614032', endColorstr='#26110a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #614032 0%,#26110a 100%); /* W3C */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:2px solid rgba(0,0,0,0.2);
		font-size:0.875em;
		color:#fff;
		/*-webkit-box-shadow:0 -40px 40px -40px #222;
	   -moz-box-shadow:0 -40px 40px -40px #222;
	        box-shadow:0 -40px 40px -40px #222;*/

		}
		
#recipes-manage .admin, #recipe_menus-index .admin{
		float:none;
		width:980px;
		margin-bottom:20px;
	}
.admin nav ul{
		margin:0;
		padding:5px 5px 5px 12px;	
		list-style:none;
	}
.admin nav ul li a{
		color:#fff;
		display:block;
		width:227px;
		height:20px;
		padding:2px 2px 2px 5px;
	}
#recipes-manage .admin nav ul li a, #recipe_menus-index .admin nav ul li a{
		display:block; float:left;
	}
	
	.admin nav ul li a:before{
		content:"";
		width: 16px;
  		 height: 19px;
 float: left;
  margin: 0 5px 2px 0;
		background:url(/images/admin.png) no-repeat 0 1px;
	}
.admin nav ul li a:hover{
		background:#a5b300;
		-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
#current-user{
		padding:10px 5px 15px 12px;	
		font-size:1.0em;
		clear:both;
	}
#current-user a{
		color:#a5b300;
	}
#current-user a:hover{
		color:#c2d200;
	}
.admin h4{
		font-size:1.25em;
	
		padding:10px 0 10px 12px;
	}
	.flash{
			-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding:5px 0 5px 10px;
	margin: 0 0 15px 0;
	color:#fff;
	font-size:0.875em;
		}
#notice{
		background:#a5b300;
		border:1px solid rgba(0,0,0,0.2);
		
	}
	#notice:before{
		content:"O";
		padding:0 5px 0 0;
	}
#error:before{
		content:"X";
		padding-right:5px;
	}
#error{
		background:#901b0f;
				border:1px solid rgba(0,0,0,0.2);
		
	}
/*------------------------------
=NAVIGATION
------------------------------*/

#header-container nav {

	border-top:1px solid #ed926e;
	border-bottom:1px solid #5e0c08;
	width: 100%;
	height:52px;

background: #da532f; /* Old browsers */
background: -moz-linear-gradient(top, #da532f 0%, #901b0f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#da532f), color-stop(100%,#901b0f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #da532f 0%,#901b0f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #da532f 0%,#901b0f 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #da532f 0%,#901b0f 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da532f', endColorstr='#901b0f',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #da532f 0%,#901b0f 100%); /* W3C */
}

	#header-container nav ul {
		margin: 0 auto;
		width: 980px;
		list-style: none;

		

	}

		#header-container nav ul li {
			float: left;
		}
		
			#header-container nav ul li a {
				display: block;
			
				
				font-size: 0.875em;
				padding:18px 35px 0 0;
				
				text-align: left;
				text-decoration: none;
				color: #fff;
				text-transform:uppercase;
				font-weight:bold;
			
			}
			#header-container nav ul li a span{
					font-size:0.625em;
					font-weight:normal;
					text-transform:uppercase;
					color:#222;
					display:block;
					
				}
			
				#header-container nav ul li a:hover {
					color: #222;
					-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
					
				}
			
			#header-container nav ul li.selected a {
				color: #fff;
			}
			
#main_image{
		padding:2px;
		background:#fff;
		border:1px solid #ccc;
	}	
	

	
/**************GUMBI******************/

.awesome, .awesome:visited {
	float:right;
	text-align:center;
	margin: 35px 0 0 0;
	background: #222 repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff;
	text-transform:uppercase; 
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.awesome span{
		display:block;
		font-size:0.7em;
		color:#222;
		font-weight:normal;
		text-transform:uppercase;	
		padding-top:5px;
		text-shadow:none;
	}
 
	.awesome:hover							{ background-color: #111; color: #fff; }
	.awesome:active							{ top: 1px; }
	.small.awesome, .small.awesome:visited 			{ font-size: 11px; padding: ; }
	.awesome, .awesome:visited,
	.medium.awesome, .medium.awesome:visited 		{ font-size: 13px; font-weight: bold; line-height: 1; text-shadow: 0 -1px 1px rgba(0,0,0,0.25); }
	.large.awesome, .large.awesome:visited 			{ font-size: 0.9375em; width:260px; padding: 10px 0 10px 0; }
	
	.green.awesome, .green.awesome:visited		{ background-color: #91bd09; }
	.green.awesome:hover						{ background-color: #749a02; }
	.blue.awesome, .blue.awesome:visited		{ background-color: #2daebf; }
	.blue.awesome:hover							{ background-color: #007d9a; }
	.red.awesome, .red.awesome:visited			{ background-color: #a5b300; }
	.red.awesome:hover							{ background-color: #c2d200; 	-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;}
	.magenta.awesome, .magenta.awesome:visited		{ background-color: #a9014b; }
	.magenta.awesome:hover							{ background-color: #630030; }
	.orange.awesome, .orange.awesome:visited		{ background-color: #ff5c00; }
	.orange.awesome:hover							{ background-color: #d45500; }
	.yellow.awesome, .yellow.awesome:visited		{ background-color: #ffb515; }
	.yellow.awesome:hover							{ background-color: #fc9200; }

/*************************************/
/*****************SEARCH MAIN***********/

section .searchform {
	/*display: inline-block;*/
	/*zoom: 1; /* ie7 hack for display:inline-block */
	/*display: inline;
	border: solid 1px #d2d2d2;
	padding:0 5px 0 5px;

	margin: 5px 0 15px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 
	-webkit-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	-moz-box-shadow: 0 1px 0px rgba(0,0,0,.1);
	box-shadow: 0 1px 0px rgba(0,0,0,.1);
 
	background: #f1f1f1;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie7 */
	/*-ms-filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed'); /* ie8 */
}

section .searchform input {
	font: normal 18px/100% "Gill Sans MT", sans-serif;
	color:#555;
	
}
section .searchform .searchfield {
	border:1px solid #aaa;
	box-shadow:none;
	padding:10px;
	background:#F8F8F8;
	width:450px;
	font-size:1.125em;
	line-height:28px;
	margin:0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 
 
	-moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	  -webkit-transition: all 0.8s ease;
  -moz-transition:    all 0.8s ease;
  -o-transition:      all 0.8s ease;

}
section .searchform .searchfield:hover{
		border:1px solid #da532f;

	}
section .searchform .searchfield:focus{
		background:#fff;
		
	}
section .searchform .searchbutton {
	color: #fff;
	border: solid 1px #494949;
	font-size: 1em;
	font-weight:bold;
	text-transform:uppercase;
	height: 49px;
	width: 50px;
	text-shadow: 0 1px 1px rgba(0,0,0,.6);
 
	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
 
	background: #da532f; 

-webkit-transition: all 0.4s ease-in-out;
-moz-transition: all 0.4s ease-in-out;
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;

}

section .searchform .searchbutton:hover{
		background: #901b0f; 

	}

/***********************************/
/*****************SEARCH PO SESTAVINAH***********/

/***********************************/


section{
		float:left;
		width:700px;
		min-height:500px;
	    height:auto !important;
	    height:500px;
	}
#recipes-manage section, #recipe_menus-index section{
		width:980px;
			min-height:500px;
	    height:auto !important;
	    height:500px;
	}
aside{
	color:#222;
	margin-top:10px;
	float:right;
	
	width:260px;
}



#main article p{
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.75em;
	line-height:16px;
	margin-top:0;
	padding-right:10px;
	text-shadow:none;
	color:#222;
}


#main .missing_ingredients, #main .add_recipe-to-users-menu{
		  display: block;
  position: absolute;
  overflow: hidden;
	}
#main .add_recipe-to-users-menu span{
		display:block;
		width:18px;
		margin:74px 0 0 3px;
		background:#a5b300;
		color:#fff;
		font-size:0.75em;
		font-weight:bold;
		text-align:center;
		padding:5px;

		-moz-border-radius-topleft: 4px;
-moz-border-radius-topright: 0px;
-moz-border-radius-bottomright: 0px;
-moz-border-radius-bottomleft: 4px;
-webkit-border-radius: 4px 0px 0px 4px;
border-radius: 4px 0px 0px 4px;
		cursor:pointer;
	
	}	
	

.menuAdd{
	float:left;
	display: block;
  position: relative;

	}

/*---------------------------------TOOLTIP--------------------------------------------**/
.tooltip_add{
		position:absolute;
		 top:4px;
  left:4px;
  background: #a5b300;
  color:#fff;

  width: 24px;
  height: 24px;
  -webkit-border-radius: 4px;
  -moz-border-radius:    4px;
  border-radius:         4px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
	}
.tooltip_missing{
			 top:73px;
 			 left:4px;	
			 background:#da532f;
	}	

div > .tooltip, li > .tooltip, div > .tooltip, span > .tooltip {
	opacity: 0;
	margin-top: 0px;
	visibility: hidden;
	margin-left: -80px;

	-webkit-transition-property:opacity, margin-top, visibility, margin-left;
	-webkit-transition-duration:0.4s; 
	-webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	-moz-transition-property:opacity, margin-top, visibility, margin-left;
	-moz-transition-duration:0.4s; 
	-moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	-o-transition-property:opacity, margin-top, visibility, margin-left;
	-o-transition-duration:0.4s; 
	-o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
	
	transition-property:opacity, margin-top, visibility, margin-left;
	transition-duration:0.4s;  
	transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in;
}

	div:hover > .tooltip, li:hover > .tooltip, a:hover > .tooltip, span:hover > .tooltip,
	a .tooltip:hover, span .tooltip:hover, li .tooltip:hover, div .tooltip:hover {
		opacity: 1;
		visibility: visible;
		overflow: visible;
		margin-top: 0px;
		display: inline;
		margin-left: -16px;
		
		-webkit-transition-property:opacity, margin-top, visibility, margin-left;
		-webkit-transition-duration:0.4s;
		-webkit-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;
		
		-moz-transition-property:opacity, margin-top, visibility, margin-left;
		-moz-transition-duration:0.4s;
		-moz-transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;		
		
		-o-transition-property:opacity, margin-top, margin-left;
		-o-transition-duration:0.4s;
		-o-transition-timing-function: ease-in-out, ease-in-out, ease-in-out;
		
		transition-property:opacity, margin-top, visibility, margin-left;
		transition-duration:0.4s; 
		transition-timing-function: ease-in-out, ease-in-out, ease-in-out, ease-in-out;		
	}

.tooltip {
	background: #a5b300;
	
	width:178px;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;

	padding: 10px;
	margin-left: -40px;

	position: absolute;

	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	font-style: normal;
	color: #fff;
	text-align:left;
	
	

	z-index: 10;	
}

.tooltip_missing .tooltip{
			background:#da532f;		
	}

.tooltip ul h5{
		font-size:1em;
		text-transform:uppercase;
	}
.tooltip ul{
		list-style:none;
		padding:0;
		margin:0;
	}
	
	
.tooltip ul li a{
			color:#fff;
			
		}
.tooltip ul li a:hover{
		color:#222;
	}

		.tooltip span { /* Triangle */
			background: #FFFBCF;

			border: 0;
			border-top: 1px solid #EFE795;
			border-right: 1px solid #EFE795;	

			width: 10px;
			height: 10px;
			margin-left: 15px;
			margin-top: -16px;
			
			display: block;
			position: absolute;

			-webkit-transform: rotate(-45deg);
			-moz-transform: rotate(-45deg);
			-o-transform: rotate(-45deg);
			transform: rotate(-45deg);
			
			-webkit-box-shadow: inset -1px 1px 0 #fff;
			-moz-box-shadow: inset 0 1px 0 #fff;
			-o-box-shadow: inset 0 1px 0 #fff;
			box-shadow: inset 0 1px 0 #fff;
			
			display /*\**/: none\9;
			*display: none !important;
			*display: none;
		}
/*
#main .recipe-to-users-menu{
	position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px;
  position: absolute;
  background: rgba(0,0,0,0.75);
  color: white;
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0;
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;

	
	}
#main .add_recipe-to-users-menu span:hover .recipe-to-users-menu{
		 opacity: 1;
  left: 0;
	
	}
	
#main .recipe-to-users-menu{
		list-style:none;
		width:120px;
		-moz-border-radius-topleft: 0px;
-moz-border-radius-topright: 4px;
-moz-border-radius-bottomright: 4px;
-moz-border-radius-bottomleft: 0px;
-webkit-border-radius: 0px 4px 4px 0px;
border-radius: 0px 4px 4px 0px;
		background:#a5b300;
		color:#fff;
		margin:0;
		padding:1px;
		
		position:absolute;
		left:30px;
		top:74px;
			
	}
#main .recipe-to-users-menu li a{

		padding:4px;
		color:#fff;
			-webkit-transition: all 100ms ease-in-out;
-moz-transition: all 100ms ease-in-out;
-o-transition: all 100ms ease-in-out;
transition: all 100ms ease-in-out;
	}
#main .recipe-to-users-menu li a:hover{
		color:#222;	
		
	}
#main .missing_ingredients span {
		display:block;
		width:18px;
		margin:3px 0 0 3px;
		background:#901b0f;
		color:#fff;
		font-size:0.75em;
		font-weight:bold;
		text-align:center;
		padding:5px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		cursor:pointer;
	}	

#main .missing_ingredients .missing_ingredients_list, #main .recipe-to-users-menu{
		display:none;
	}	
#main .missing_ingredients span:hover + .missing_ingredients_list{
		display:block;
	
		
	}	


.missing_ingredients_list{
		background:#901b0f;
		list-style:none;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin:-24px 0 0 26px;
		padding:8px 10px 8px 10px;
	}	
.missing_ingredients_list h5{
		font-size:0.75em;
		text-transform:uppercase;
		color:#fff;
		margin-bottom:5px;
	}
.missing_ingredients_list ul{
		color:#fff;
		margin:0 0 0 20px;
	}
.missing_ingredients_list ul li {
	color:#fff;
	font-size:0.875em;

}*/
	
#main article img{
		float:left;
		padding:2px;
		background:#fff;
		border:1px solid #ccc;
	
		margin-bottom:15px;
		display:block;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
	}	
#main article header{
	float:left;
	margin-left:10px;
	width:355px;
	display:block;

	
	/*-webkit-box-shadow:0 45px 60px -60px #AAA;
	   -moz-box-shadow:0 45px 60px -60px #AAA;
	        box-shadow:0 40px 60px -60px #AAA;*/
}
a{text-decoration:none;}

#main article header .recipe_title{
	position:relative;
	margin:0;
	text-decoration:none;
	padding-bottom:0px;
	font-size:1.125em;
	color:#901b0f;
	line-height:18px;
	
}
#main article header .recipe_title:hover{
	color:#da532f;
	}
#main article .recipe_summary{
		color:#777;
		font-size:0.6875em;
		line-height:18px;
	}
#main article .tags{
		padding:4px 0 2px 0;
		color:#222;
		font-size:0.6875em;
	}
#main article .tags a{
		color:#da532f;
		
	}
	
#main article .tags a:hover{
		color:#901b0f;
		
		
	}
#main article .tags ul li{display:inline}
#main article .recipe_price{
				font-size:0.6875em;
		margin-bottom:15px;
			padding:2px 0 2px 0;
}
#main article footer{
		float:right;
		width:120px;
		font-family:Verdana, Geneva, sans-serif;

}
#main article footer ul{
		list-style:none;
		margin:0;
		
	}
#main article footer ul li{
		padding:0px 0 0 18px;
		line-height:20px;
		position:relative;
				font-size:0.6875em;
			cursor:pointer;
		
	}
#main article footer ul li span{
		display:none;


		
	}
#main article footer ul li:hover span{
		display:block;
		position:absolute;
		background:#a5b300;
		color:#fff;
		top:-32px;
		left:0;
		padding:5px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
;
		
	

	
	}
#description-bar ul li{
		padding:0px 0 0 24px;
	}
#main .time_to_prepare, .time-to-prepare{
		margin-bottom:5px;
		background:url(/images/prepare.png) 0 0 no-repeat;
	}
#main .cooking_time, .time-to-cook{

		background:url(/images/cook.png) 0 0 no-repeat;
	}
.calories{
		margin-top:30px;
		background:url(/images/calories.png) 0 2px no-repeat;
	}
.nr-of-people{
		background:url(/images/people.png) 0 2px no-repeat;
	}
hr{	
		display:none;
		width:700px;
		height:3px;
		display:block;
		background:url(/images/hr.jpg) no-repeat center;
		border:none;
	}
#footer-table{
		background:url(/images/table_footer.jpg) repeat-x center;
	height:50px;
	position:relative;
	}
#footer_ingredients{
		width:980px;
		margin:0 auto;
	}	
#ing1{
		position:absolute;
		top:-57px;
	}
#footer-container{

	/*background-color:#f3f3f3;*/
	background:url(/images/footer.jpg) repeat center;
	height:320px;


	margin-top:60px;
	-webkit-box-shadow:0 -40px 40px -40px #AAA;
	   -moz-box-shadow:0 -40px 40px -40px #AAA;
	        box-shadow:0 -40px 40px -40px #AAA;
}

#footer-container footer{
	color:#fff;
	width:980px;
	margin:0 auto;
}
#footer-container nav{
		width:245px;
		float:left;
	}
#footer-container nav h4{
		font-size:1.125em;
		text-transform:uppercase;
		margin-bottom:10px;
		padding-left:5px;
	}

#footer-container nav ul li a{
		
		
		color:#fff;
		display:block;
		width:200px;
		line-height:20px;
		font-size:0.875em;
		padding:2px 5px 5px 5px;
			-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	}
#footer-container nav ul li a:before{
		content:"";
		width: 16px;
  		 height: 19px;
 float: left;
  margin: 0 10px 2px 0;
		background:url(/images/fav.png) no-repeat 0 3px;
	}
#footer-container nav ul li a:hover{
		background:#a5b300;
	
		-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
	}
/*#footer-container footer nav ul{
		list-style:none;

	
	}
#footer-container footer nav ul li a{
		float:left;
		background:none;
		font-size:14px;
		padding:5px;
	}
#footer-container footer nav ul li a:hover{
		color:#c2d200;
	}
footer nav{
		clear:both;

	}*/
#footer-container footer p{
		clear:both;
		color:#777;
		padding:15px 0 10px 0;
	}
/*------------------------------
=SUBPAGE RECEPT 
------------------------------*/

section a{color:#901b0f;}
section h1{
		font-size:2em;
		text-align:left;
		width:700px;
		color:#da532f;
		font-family: "Gill Sans MT", sans-serif;
		font-weight:normal;

	}
section h2{
		font-size:1em;
		text-transform:uppercase;
		margin:0 0 20px 0;
		padding:0;
	}
section .photos{
		margin-top:10px;

	}


section .photos img{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;	
		padding:2px;
		background:#fff;
		border:1px solid #ccc;
		float:left;
	}

#editors-resource-menu{
		width:700px;
		margin:10px 0 15px 0;
		font-size:0.875em;
		background:#614032;
		height:27px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
}
#editors-resource-menu ul li a{
		float:right;
		display:block;
		color:#fff;
		padding:5px 10px 5px 10px;
	
	}
#editors-resource-menu ul li a:hover{
		color:#c2d200;
	}
#basic-info , #related-info{
		float:right;
		width:250px;
		margin-bottom:10px;
		font-family:Verdana, Geneva, sans-serif;

	}
	#basic-info ul{
			list-style:none;
			margin:0;
		}
#basic-info ul li{
		font-weight:bold;
		margin:8px 0 8px 0;
		font-size:0.75em;

	}
#basic-info ul li span{
		font-weight:normal;
		width:100px;
		float:left;
		display:block;
		
	}

	
#related-info div{
		margin-bottom:20px;
	}	

#ingredient-list{
		background:#da532f;
		border:1px solid #ccc;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		margin:3px 0 3px 0;
	}
#ingredient-list h2{
		font-size:1.25em;
		margin:10px 0 0 10px;
		color:#fff;
		font-family: "Gill Sans MT", sans-serif;
	}
#ingredient-list ul{
		list-style:none;

		width:220px;
		margin:10px 0 15px 10px;
	} 
#ingredient-list ul li{
		font-weight:bold;
		color:#fff;
		margin:5px 0 5px 0;
		font-size:0.8em;
	}	
#ingredient-list ul li a{
		color:#fff;
		font-weight:normal;
		font-size:1em;
		display:inline;

	}
/*#ingredient-list .buy_ingredient{
		background:url(/images/buy.png) no-repeat 0 0;
		padding-left:20px;
	}*/
.missing{
		display:block;
		position:absolute;
		background:#901b0f;
		color:#fff;
		font-size:0.75em;
		margin-top:-1px;
		margin-left:-24px;
		padding:2px 3px 3px 3px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}
.missing.left {
	margin-left:50px;
	background:#901b0f;
}
.missing:after{
		content:"";
	position:absolute;
		top:1px; /* controls vertical position */
	right:-8px; /* value = - border-left-width - border-right-width */
	bottom:auto;
    left:auto;
	border-width:8px 0 8px 10px;/* vary these values to change the angle of the vertex */
	border-style:solid;
	border-color:transparent #901b0f;;
    /* reduce the damage in FF3.0 */
    display:block; 
    width:0;
	}

#ingredient-list ul li a + a {
		color:#222;
		display:block;
		font-size:0.6875em;
	}

#ingredient-list ul li a:hover{
		color:#901b0f;
	}
/*#ingredient-list dl {
    margin:15px 0 10px 10px;
	font-size:12px;
}
 
#ingredient-list dl dt {
    color:#fff;

    float:left;
	width:120px;
    margin-right:10px;
    padding:2px;
	text-align:left; 
}

#ingredient-list dl dd {
    margin:5px 0;
    padding:4px 0;
	
}
#ingredient-list dd a{
		color:#222;
	text-decoration:none;
	font-size:12px;
	}
#ingredient-list dd a:hover{
		color:#900;
	}*/
#recipe-kinds h2{
		font-size:1em;
		margin:15px 0 5px 0;
		font-family: "Gill Sans MT", sans-serif;
	}
.recipe_kinds-list{
		list-style:none;
		margin:5px 0 0 0;
		font-size:0.75em;
	}
.recipe_kinds-list li a{
		float:left;
		color:#fff;
		display:block;
		background:#da532f;
		padding:3px 5px 3px 5px;
		margin:0 5px 5px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
}
.recipe_kinds-list li a:hover{
		background:#901b0f;	
	}
#calories-calculation{
		padding-top:20px;
		clear:both;
}
#price-calculation, #calories-calculation{
		font-weight:bold;
		font-size:0.75em;
	}
#price-calculation span, #calories-calculation span{
		font-weight:normal;
	}
#calories-calculation span{
		padding:0 0 0 20px;
		background:url(/images/calories.png) 0 0 no-repeat;
	}
#price-calculation span{
		padding:0 0 0 20px;
		background:url(/images/price.png) 0 0 no-repeat;
	}
.summary{
		width:349px;
		float:left;
		font-family:Verdana, Geneva, sans-serif;
		background:url(/images/narekovaj.jpg) left top no-repeat #fff;
		padding:20px 20px 20px 60px;
		font-style:italic;
		
		margin:10px 0 5px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px solid #ccc;
	}

#preperation p, #suggestion p{
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.75em;
		}
#suggestion h2, #preperation h2{
		margin:15px 0 8px 0;
	}
#preperation h2{
		font-size:1.25em;
	}
#preperation{
		width:429px;
		float:left;
		margin-bottom:5px;
	}
#suggestion{
		width:429px;
		float:left;
		margin-bottom:15px;
	}

#resource-menu, #author{
		font-family:Verdana, Geneva, sans-serif;
		clear:both;
		margin:10px 0 10px 0;
	}

#resource-menu ul li a{
		text-transform:uppercase;
		padding:0 0 0 24px;
		background:url(/images/pdf.png) 0 0 no-repeat;	
	}
.to_back{
	float:left;
	display:block;
	margin-top:20px;
	background:#a5b300;
	width:60px;
	padding:5px;
	color:#fff;
	font-weight:bold;
	font-size:0.8em;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.to_back:hover{
		background:#c2d200;
		color:#fff;
}
/*****************SESTAVINE*************/
.ingredient_photo{
		float:left;
		margin-right:20px;
		
	}
.ingredient_photo img{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;	
		padding:2px;
		background:#fff;
		border:1px solid #ccc;
	}
#ingredient-info{
		
		float:left;
		width:350px;
	}
#ingredient-info p{
		font-size:0.9375em;
	}
#ingredient-info p span{
		font-weight:bold;
	}
#ingredient-info h3{
		font-size:1.125em;
		color:#222;
		margin:0;
	}
#ingredient-info ul{
		padding:0;
		margin-left:18px;
	}
#related_recipes{
		clear:both;
	}
#related_recipes h3{
		font-size:1.625em;
		padding-top:20px;
		color:#901b0f;
	}
section h3{
		clear:both;
		font-size:1.625em;
		padding-top:2px;
		margin:0;
		color:#901b0f;
	}
/***************UPRAVLJANJE RECEPTOV*************/
#recipe_kinds{
			width:700px;
		margin:10px 0 15px 0;

		background:#da532f;
		height:48px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;	
	}

#recipe_kinds ul li a{
		float:right;
		font-size:0.875em;
		display:block;
		color:#fff;
		padding:3px 10px 3px 10px;
	
	}
#recipe_kinds ul li a:hover{
		color:#222;
	}
	
	
table{width:980px; border-collapse:collapse; color:#222; font-size:0.875em;}
th,caption{text-align:left;font-weight:normal;
}
table a{
		color:#901b0f;
	}
th, td{padding:.5em 1em;line-height:1.5em;}		
th{background:#ddd;
}
th a{
		text-decoration:underline;
		color:#222;
	}
th a:after{
		content:" ↑↓"
	}
th .asc:after{
		content:" ↓";
	}
th .desc:after{
		content:" ↑";
	}
th .current{
		font-weight:bold;
		background:none;
	}
th a:hover{
		text-decoration:none;
	}
td{border-bottom:1px solid #ccc;}
table tr:hover{
		background:#fefefe;
		cursor: pointer;
	}
/*****************EKO ZDRAVO NOSTALGIJA*****************/

article .title{
		padding:0;
		margin:20px 0 0 0;
		font-size:1.25em;
		font-weight:bold;
	}
article .title:hover{
		color:#901b0f;
		
		
	}
.shortened_content {
		margin:5px 0 20px 0;


	}
.shortened_content{
		font-size:1em;
	}
section .photo img{
		float:right;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;	
		padding:2px;
		background:#fff;
		border:1px solid #ccc;
		margin:10px 0 15px 15px;
	}

section .content p{
		
		font-family:Verdana, Geneva, sans-serif;
		font-size:0.75em;
		margin-top:10px;
		line-height:20px;
	}
/*tr:nth-child(2n){
	 background: rgba(255, 0, 0, 0.05)
	}*/
/*#info{
		float:left;
		width:260px;

	}
#info h2{
		margin:0;
	}
#preperation{
		float:right;
		width:430px;
		margin-bottom:50px;
	}

#info #basic_info{
	
		height:304px;
		display:block;
			
	}
	#basic_info ul{
			margin-top:20px;
		}
		#basic_info ul li{
				padding-bottom:8px;
			}
#info #ingredients{
		color:#fff;
		
		width:230px;
		background:#da532f;
		padding:10px;
		margin-left:0px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		
	}
#ingredients h2{
		margin-top:13px;
	}
#ingredients ul{
		margin-left:0;
	}
#ingredients li{
		list-style:none;
		color:#fff;
	}

#preperation p{
		padding-left:20px;
		display:inline;
	}
*/
/*------------------------------
=DODAJ RECEPT forma
------------------------------*/
.simple_form{
	
		width:650px;
		float:left;
		background: #eaeaea; /* Old browsers */
background: -moz-linear-gradient(top, #fff 0%, #eaeaea 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#eaeaea)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #fff 0%,#eaeaea 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #fff 0%,#eaeaea 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #fff 0%,#eaeaea 100%); /* IE10+ */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#eaeaea',GradientType=0 );*/ /* IE6-9 */
background: linear-gradient(top, #fff 0%,#eaeaea 100%); /* W3C */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:1px solid #ccc;
		padding:30px 20px 20px 30px;
		
	}

.simple_form div{margin:0 0 10px 0;clear:both; font-size:1em;	line-height:30px; }



.simple_form input[type="radio"],.simple_form input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}

.simple_form div.col{clear:none;}.simple_form  form div.first{clear:both;}
.simple_form  div{overflow:hidden;}
.simple_form label{

		display:block;
		position:relative;
		color:#26110a;
		font-size:0.875em;
		text-transform:uppercase;	
	}
	.simple_form abbr{
		border:none;
		
	}
	.simple_form input[type="text"], .simple_form input[type="email"], .simple_form input[type="number"],  .simple_form input[type="password"], .simple_form textarea, #advance_search .field, .simple_form .area, .simple_form select{
		border:1px solid #aaa;
		box-shadow:none;
		-webkit-box-shadow:none;
		-moz-box-shadow: none;
		padding:5px;
		background:#fff;
		width:450px;
		font-size:1.125em;
		line-height:28px;
		margin:0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}

	.simple_form input[type="text"]:focus,.simple_form input[type="number"]:focus, .simple_form input[type="email"]:focus, .simple_form input[type="password"]:focus, .simple_form textarea:focus, .simple_form select:focus, .simple_form .focus{ border:1px solid #c2d200; outline:none;}
	.simple_form .button{
		
		
	text-align:center;
	margin: 10px 0 10px 0;
	background: #222 repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff;
	text-transform:uppercase; 
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border:none;
	background-color: #a5b300 ;
	font-weight:bold;
	font-size: 0.9375em; padding: 10px 10px 10px 10px;	
		/*#c2d200	*/
		}

.simple_form .button:hover{
		background:#c2d200;
	}
#user_remember_me{
		float:left;
		margin-top:10px;
	}
#user_remember_me + label{
		float:left;
		margin:2px 0 0 8px;
	
	}
/*------------------------------
=NAPREDNO search
------------------------------*/
#advance_search, #refrigerator_search{
		background: #614032; /* Old browsers */
background: -moz-linear-gradient(top, #614032 0%, #26110a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#614032), color-stop(100%,#26110a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #614032 0%,#26110a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #614032 0%,#26110a 100%); /* Opera11.10+ */
background: -ms-linear-gradient(top, #614032 0%,#26110a 100%); /* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#614032', endColorstr='#26110a',GradientType=0 ); /* IE6-9 */
background: linear-gradient(top, #614032 0%,#26110a 100%); /* W3C */
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		border:2px solid rgba(0,0,0,0.2);
		padding:18px 5px 10px 12px;
		color:#fff;
		margin-bottom:20px;
	}

#refrigerator_search .searchform{
		background:none;
		width:200px;
		padding:0;
		margin:0;
		border:none;
	}
#refrigerator_search .token-input-list{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:218px;
		line-height:1em;
		margin:0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		min-height:90px;
	}
#refrigerator_search .token-input-list input{
		width:200px;
	
	}
.token-input-token{
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		padding:2px;
	}
#advance_search h4, #refrigerator_search h4{
		font-size:1.125em;
		margin-bottom:15px;
		
	}
#advance_search form div{margin:0 0 10px 0;clear:both;font-size:0.9375em;	line-height:30px; }


	
	#advance_search input[type="radio"],#advance_search input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}

	#advance_search  form div.col{clear:none;}#advance_search  form div.first{clear:both;}
	#advance_search  form div{overflow:hidden;}
	#advance_search label{
			width:95px;
			display:block;
			float:left;
		
		}
	#advance_search input[type="text"], #advance_search input[type="password"], #advance_search textarea, #advance_search .field, #advance_search .area, #advance_search select{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:35px;
		line-height:1em;
		margin:0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		}


	#advance_search input[type="text"]:focus, #advance_search input[type="password"]:focus, #advance_search textarea:focus, #advance_search select:focus, #advance_search .focus{ border:1px solid #c2d200; outline:none;}
	
	
	#advance_search .submit, #user_submit, .searchbutton{
		

	text-align:center;
	margin: 10px 0 10px 0;
	background: #222 repeat-x; 
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff;
	text-transform:uppercase; 
	text-decoration: none;
	-moz-border-radius: 4px; 
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 2px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	border:none;
	background-color: #a5b300 ;
	font-weight:bold;
	font-size: 0.9375em; width:230px; padding: 10px 0 10px 0;	
		/*#c2d200	*/
		}

#advance_search .submit:hover, #user_submit:hover, .searchbutton:hover{
		background:#c2d200;
			-webkit-transition: all 200ms ease-in-out;
-moz-transition: all 200ms ease-in-out;
-o-transition: all 200ms ease-in-out;
transition: all 200ms ease-in-out;
	}
	
	
	
	
/****************TEST SESTAVINE ************************/


.ingredient-search, .collection-list{
		width:700px;
		float:left;
		
		
	}
.collection-list ul {
		list-style:none;
		margin: 15px 0;
	}
.collection-list a{color:#222;position:relative; font-size:0.75em;}
.collection-list li a:nth-child(2){
		display:none;
	}


.collection-list li a{
		float:left;
		color:#fff;
		display:block;
		background:#da532f;
		padding:4px 5px 4px 5px;
		margin:0 10px 5px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		text-transform:uppercase;
	}
.collection-list li a:hover{
		background:#901b0f;
	}
#ingredients-index section h3, #recipe_kinds-index section h3{
		margin:0;
		padding:20px 0 0 0;	
	
	}
#ingredients-index section hr, #recipe_kinds-index section hr{
		margin:0;
		padding:0;
	}
.wine-colors-list, .wine-kinds-list, .wine_groups-list{
		width:230px;
		float:left;
		margin-bottom:20px;
	}
.wine-colors-list ul, .wine-kinds-list ul, .wine_groups-list ul, .wines-list{
		list-style:none;
		margin:10px 0 0 0;
	}
.wine-colors-list ul li a, .wine-kinds-list ul li a, .wine_groups-list ul li a, .wines-list li a{
		background:url(/images/wine.png) 0 2px no-repeat;
		padding-left:22px;
		color:#222;
		font-size:1em;
	}
.wine-colors-list ul li a:hover, .wine-kinds-list ul li a:hover, .wine_groups-list ul li a:hover, .wines-list li a:hover{
		color:#901b0f;
	}
#short-summary{
		margin-bottom:20px;
	}
/*****************************PAGINATION****************************/	
.alphabetical-index{
		list-style:none;
		margin:10px 0 0 0;
	}
.alphabetical-index li a{
		float:left;
		display:block;
		width:24px;
		color:#fff;

		text-align:center;
		background:#614032;
		padding:3px 0 3px 0;
		margin:0 5px 15px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
.alphabetical-index li a:hover{
		background:#26110a;
	}
.recipe_pagination, .post_pagination{
		clear:both;

	}
.previous_page, .next_page, .recipe_pagination .current,  .post_pagination .current, .recipe_pagination a, .post_pagination a{
		float:left;
		display:block;
		color:#fff;
		text-align:center;
		background:#614032;
		padding:5px 10px 5px 10px;
		margin:0 5px 20px 0;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
	}
.current, .recipe_pagination a:hover, .post_pagination a:hover{
		background:#26110a;
	}

.disabled{
		text-decoration:line-through;
		background:rgba(38,17,10,0.3);
	}
	
	
	
/****************TEDENSKI JEDILNIK****************/

#users-recipe-menu{

		margin:10px 0 0 0;
		padding-top:5px;
	}


	
	section h1{
			line-height:1.15em;
			margin-bottom:10px;
		}
	section h1 span{
			text-transform:uppercase;
			font-size:1.4em;
		}
#users-recipe-menu .menu-day{
		background:url(/images/hr.jpg) no-repeat center;
		width:700px;
		float:left;
		margin-top:12px;
	}
#users-recipe-menu h4{
	color:#614032;
		background:#f3f3f3;
		padding-right:12px;
		float:left;
		font-size:1.25em;


	}	
	
	
	
	
	
	/**********/
	
fieldset{margin:0;padding:0;border:none;}

fieldset{
	border:2px dashed #614032;
	padding:0 5px 10px 13px;
	margin:0 0 1em 0;
	border-radius:10px;
	width:675px;
}

legend{
		font-weight:bold;
		padding:2px 5px;	
		color:#835f50;
		font-size:1.2em;
	}
	
.today{color:#27120b;}
		
.daily-menu{
		color:#222;
			width:645px;
		float:left;
			background:url(/images/cooking_pattern.jpg) repeat #FDFDFD;
		display:block;
		padding:5px;
		position:relative;
		-webkit-border-radius: 8px;
-moz-border-radius: 8px;
border-radius: 8px;
margin:5px 0 10px 0;
border:5px solid #FDFDFD;
	}
.daily-menu .recipe_title{
		color:#da532f;
		font-size:1.125em;
		font-weight:bold;
		
	}
.daily-menu .recipe_title:hover{
		color:#901b0f;
	}
.delete-from-menu{
		float:right;
		margin-right:0px;
		background:url(/images/delete.gif) no-repeat 0 0;
		color:#fff;
	
		width:15px;
		height:15px;
	   opacity:0;


	}
	

.delete-from-menu:hover{
		opacity:1;
		display:block;
		background:url(/images/delete.gif) no-repeat 0 -15px;
	}
.daily-menu:hover{
		border:5px solid #da532f;
		-webkit-transition: all 400ms ease-in-out;
-moz-transition: all 400ms ease-in-out;
-o-transition: all 400ms ease-in-out;
transition: all 400ms ease-in-out;
	} /*#a5b300*/
.daily-menu:hover .delete-from-menu{
		display:block;
		opacity:1;
	}
.daily-menu .sestavine{
		margin-top:3px;
		font-style:italic;
		font-family:Georgia, "Times New Roman", Times, serif;
		font-size:0.89em;
		color:#888;
	}
.daily-menu .sestavine span{
		color:#444;
	}
.cooking-info{

		font-family:Verdana, Geneva, sans-serif;
	 	display:block;
		float:left;

}
.cooking-info div{
		float:left;
		margin-right:20px;
		margin-top:12px;
		
	}
.cooking-info div{
	
		padding:0px 0 0 18px;
		line-height:20px;
		position:relative;
				font-size:0.6875em;
			cursor:pointer;
		
		
	}
.cooking-info div span{
		display:none;


		
	}
.cooking-info div:hover span{
		display:block;
		position:absolute;
		background:#da532f;
		color:#fff;
		top:20px;
		width:80px;
		text-align:center;
		left:0;
		padding:2px 4px 2px 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;

	
	}

/*********************************************************/	
/*********************************************************/			
.clear{clear:both;}
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }
.hidden { display: none; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


@media all and (orientation:portrait) {

}

@media all and (orientation:landscape) {

}

@media screen and (max-device-width: 480px) {

  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #222 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}