%section
  - if can? :manage, User
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj uporabnika", new_resource_path
  = title "Pregled uporabnikov"
  = render "users/user", :collection => collection

%aside

