%section
  = title "Sestavine"

  - if can? :create, Ingredient
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj sestavino", new_resource_path
  = render "common/ingredient_search"
  = collection_list_renderer(collection)
%aside