%section
  = title "Priljubljeni recepti"
  = render "common/recipe_search"
  
  - if @top_5_recipes.any?
    = render "recipes/recipe_details", :recipes => @top_5_recipes
%aside
  = render "common/advanced_search"