%section
  = title "O nas"

  - if can? :manage, About
    %nav#editors-resource-menu
      %ul
        = render "common/new_edit_nav", :collection => collection

  - if collection.present?
    .abouts.textilize= (textilize collection.first.content).html_safe
%aside