%section
  = title "Eko"
  
  %h2 Tu se lahko uÄite kako jesti eko
  
  - if can? :create, Eko
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj zapis", new_resource_path

  - for post in collection
    %article
      %h3.title= link_to post.title, post
      = render "common/trunc_redcloth_it", :content => post.content, :length => 120
%aside