%section
  = title "Izdelki"

  - if can? :create, Product
    %nav#editors-resource-menu
      %ul
        %li= link_to "Dodaj izdelek", new_resource_path

  = collection_list_renderer(collection)
%aside