= title "Vrste zunanjih vsebin"

- if can? :create, RecipeKind
  %nav#editors-resource-menu
    %ul
      %li= link_to "Dodaj zunanjo vsebino", new_resource_path
  
= collection_list_renderer(collection)