- if collection.present?
  = render "common/recipe_pagination", :collection => collection
  = render "recipes/recipe_details", :recipes => collection
  = render "common/recipe_pagination", :collection => collection
