%section#ingredient-search
  %h2 Iskanje sestavine
  = form_tag ingredients_path, :method => 'get', :class => "searchform" do
    %p
      = text_field :search, :ingredient, { :class => "searchfield" }
      = submit_tag "Išči", :class => "searchbutton"
