#refrigerator_search
  .search_title
    %h4 KAJ BI KUHAL, ČE IMAM
    %p Vnesi sestavine

  = form_tag recipes_path, :class => "searchform", :method => 'get' do
    %p
      = text_field :ingredient_tokens, :ingredient
      = submit_tag "Išči", :name => nil, :class => "searchbutton"
  