- if @ingredients.present?
  #shopping-list
    %h3 Kaj potrebujem?    
    %ul
      - @ingredients.each do |ingredient, quantity|
        %li
          = ingredient
          %span
            = quantity_fixer(quantity)
    
    %h3.sum 
      Skupaj 
      %span= number_to_currency(@price)
