- if @ingredients.present?
  #shopping-list
    %h3 Kaj potrebujem?    
    %ul
      - @ingredients.each do |ingredient, id_weight_hash|
        %li
          = link_to ingredient, ingredient_path(id_weight_hash[:id])
          %span
            = quantity_fixer(id_weight_hash[:weight])
    
    #shopping-price
      %b
        %span
          Skupaj
        = number_to_currency(@price)
